html,
body {
  background-color: #050210; 
  background-image: linear-gradient(0deg, #050210, #050210);
  height: 100%;
  overflow: hidden;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.outer-ring {
  position: absolute;
  left: calc(50% - 150px);
  height: 300px;
  width: 300px;
  background-image: linear-gradient(135deg, #fb5dad, #55fb9f, #b97aff);
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.outer-ring-blur {
    position: absolute;
    left: calc(50% - 150px);
    height: 300px;
    width: 300px;
    background-image: linear-gradient(135deg, #fb5dad, #55fb9f, #b97aff);
    filter: blur(25px);
    border-radius: 50%;
    animation-duration: 2s;
    animation-name: rotate;
    animation-iteration-count: infinite;
  }

.inner-ring {
  position: absolute;
  left: calc(50% - 130px);
  height: 260px;
  width: 260px;
  background-color: #050210 ;
  border-radius: 50%;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@keyframes color {
    0% {
      background-color: #050210;
    }
    100% {
      background-color: #0b0422
    }
}





